.header {
  width: 100%;
  padding-bottom: 24px;
  padding-top: 24px;
  border-bottom: 1px solid #ececec;

  .header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-nav-menu {
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;
    align-items: center;
  }

  .site-nav {
    display: flex;
    position: relative;
  }

  .item:not(:last-child) {
    margin-right: 50px;
  }
  .site-nav-link {
    display: inline-block;
    color: $title-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  .current {
    color: $accent-color;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 100%;
      bottom: 0;
      display: block;
      bottom: 0;
      height: 4px;
      background-color: $accent-color;
      border-radius: 2px;
      transform: translateY(28px);
    }
  }
  .site-nav-right {
    display: flex;
    margin-left: auto;

    & .item-right + .item-right {
      margin-left: 50px;
    }
  }
  .icon {
    margin-right: 10px;
    fill: $primary-color;
  }

  .site-nav-right-link {
    display: flex;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    color: $primary-color;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $accent-color;

      & .icon {
        fill: $accent-color;
      }
    }
  }
}
