:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
}
$primary-color: #757575;
$title-color: #212121;
$accent-color: #2196f3;
$bg-color: #ffffff;
$iconbg-color: #f5f4fa;

.list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
}
.link {
  text-decoration: none;
}

.page {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  margin: 0px;
  font-family: roboto, sans-serif;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
.item {
  display: block;
  position: relative;
}
.section {
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Site nav */

.site-nav-link {
  color: var(--title-text-color);
}
.site-nav .current {
  color: var(--accent-color);
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}
.site-nav-right-link {
  color: var(--primary-text-color);
}
.site-nav-right-link:hover,
.site-nav-right-link:focus {
  color: var(--accent-color);
}
