$primary-color: #757575;
$title-color: #212121;
$accent-color: #2196f3;
$bg-color: #ffffff;
$iconbg-color: #f5f4fa;

.list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
}
.link {
  text-decoration: none;
}

.page {
  background-color: $bg-color;
  color: $primary-color;
  margin: 0px;
  font-family: roboto, sans-serif;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
.item {
  display: block;
  position: relative;
}
.section {
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 0px;
}
